<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Web Scream V0.01</title>
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P" />-->
	<link rel="stylesheet" href="includes/styles/styles.css" />
	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="includes/js/track.js"></script>
	<script>
		function display(s3mFile) {
			Object.freeze(s3mFile);
			console.log(s3mFile);

			var app = new Vue({
				el: '#view',
				data: {
					s3m: s3mFile,
					FLAGS: S3M.FLAGS,
					currentView: 1,
					currentInstrument: 0,
					currentPattern: 0
				},
				methods: {
					setView: function (event) {
						console.log(event.key);
					},
					hex: function (value) {
						return Number.isInteger(value) ? value.toString(16).toUpperCase() : '0';
					},
					zeroPad: function (value, n) {
						return ('0'.repeat(n) + value).slice(n * -1);
					},
					displayChannel: function (c) {
						let channel = this.s3m.channels[c - 1];

						let display;
						if (channel.unused) {
							display = '(--)';
						} else {
							display = channel.outputChannel < 8 ? 'L' + (channel.outputChannel + 1) :
								channel.outputChannel < 16 ? 'R' + (channel.outputChannel - 7) :
									channel.outputChannel < 30 ? 'A' + (channel.outputChannel - 15) : '??';

							if (channel.disabled) {
								display = '(' + display + ')';
							} else {
								display = '\xa0' + display + ' ';
							}
						}

						return display;
					},
					displayPanning: function (c) {
						let channel = this.s3m.channels[c - 1];
						return channel.defaultPanning ? '.' : this.hex(channel.panning);
					},
					displayNote: function (p, r, c) {
						let value = this.s3m.patterns[p][r - 1][c - 1];

						return (value && value.note) ?
							(value.note === 0xFE ? '^^.' : S3M.NOTES[value.note & 0x0F] + (value.note >> 4)) :
							'...';
					},
					displayVolume: function (p, r, c) {
						let value = this.s3m.patterns[p][r - 1][c - 1];

						return (value && value.volume) ? this.zeroPad(value.volume, 2) : '..';
					},
					displayInstrument: function (p, r, c) {
						let value = this.s3m.patterns[p][r - 1][c - 1];

						return (value && value.instrument) ? this.zeroPad(value.instrument, 2) : '..';
					},
					displayCommand: function (p, r, c) {
						let value = this.s3m.patterns[p][r - 1][c - 1];

						return (value && value.command && value.info) ?
							String.fromCharCode(value.command + 0x40) + this.zeroPad(this.hex(value.info), 2) : '.00'; // 'A' starts at character code 0x41 / 65 in ASCII
					},
					flag: function (value) {
						return value ? 'on' : '--';
					},
					displayType: function (type) {
						switch (type) {
							case 1: return 'SMP';
							case 2: return 'AME';
							case 3: return 'ADR';
							default: return '---';
						}
					},
					play: function (instrument, event) {
						if (instrument.play) {
							let note = 0;
							if (typeof event.key === 'undefined' || (note = 'zsxdcvgbhnjm'.indexOf(event.key.toLowerCase())) > -1) {
								instrument.play(note, event.shiftKey ? 2 : 1);
							}
						}
					}
				}
			});
			$('#open').hide();
			$('#view').show();

			$('body').keyup(function (event) {
				if (event.altKey && '123'.includes(event.key)) {
					event.preventDefault();
					app.currentView = parseInt(event.key);
				}
			});
		}
	</script>
</head>
<body>
	<form id="open">
		<input id="s3mFile" type="file" accept=".s3m, audio/s3m" /><button type="button" onclick="S3M.open(document.getElementById('s3mFile'), display)">Open</button>
	</form>
	<form id="view">
		<header>
			<h1>Web Scream V0.01</h1>
			<table>
				<tr>
					<td class="label">Song</td>
					<td class="value" colspan="5">{{ s3m.header.title }}</td>
					<td class="label">File</td>
					<td class="value" colspan="3">{{ s3m.fileName }}</td>
				</tr>
				<tr>
					<td class="label">Instrument</td>
					<td class="value" colspan="5">{{ zeroPad(currentInstrument, 2) }}:{{ s3m.instruments[currentInstrument].title }}</td>
					<td class="label">Chord</td>
					<td class="value" colspan="3">none</td>
				</tr>
				<tr>
					<td class="label">Order</td>
					<td class="value" colspan="5">000/000</td>
					<td class="label">C.Tempo</td>
					<td class="value" colspan="3">00</td>
				</tr>
				<tr>
					<td class="label">Pattern</td>
					<td class="value">00</td>
					<td class="label">Row</td>
					<td class="value">00</td>
					<td class="label">Channel</td>
					<td class="value">00</td>
					<td class="label">C.Speed</td>
					<td class="value">00</td>
					<td class="label">Baseoctave</td>
					<td class="value">00</td>
				</tr>
			</table>
		</header>
		<fieldset id="orderListAndVariables" v-if="currentView === 1">
			<legend>Order List and Variables (Alt-1)</legend>
			<table id="orderList">
				<tr v-for="(orderItem, index) in s3m.header.orderList">
					<td class="label">{{ zeroPad(index, 3) }}</td>
					<td class="value" v-if="orderItem === 0xFE">++</td>
					<td class="value" v-else-if="orderItem === 0xFF">--</td>
					<td class="value" v-else>{{ zeroPad(orderItem,2) }}</td>
				</tr>
			</table>
			<table id="channels">
				<tr v-for="n in 16">
					<td class="label">{{ zeroPad(n, 2) }}</td>
					<td class="value">{{ displayChannel(n) + displayPanning(n) }}</td>

					<td class="label">{{ zeroPad(n + 16, 2) }}</td>
					<td class="value">{{ displayChannel(n + 16) + displayPanning(n + 16) }}</td>
				</tr>
			</table>
			<table id="variables">
				<thead>
					<tr>
						<td class="label" colspan="2">Init</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="label">Tempo</td>
						<td class="value">{{ zeroPad(hex(s3m.header.initialTempo), 2) }}</td>
					</tr>
					<tr>
						<td class="label">Speed</td>
						<td class="value">{{ zeroPad(hex(s3m.header.initialSpeed), 2) }}</td>
					</tr>
					<tr>
						<td class="label">GlobalVol (00..40)</td>
						<td class="value">{{ zeroPad(hex(s3m.header.globalVolume), 2) }}</td>
					</tr>
					<tr>
						<td class="label">MasterVol (10..7F)</td>
						<td class="value">{{ zeroPad(hex(s3m.header.masterVolume), 2) }}</td>
					</tr>
					<tr>
						<td class="label">Vol0 Optimizations</td>
						<td class="value">{{ flag(s3m.header.flags & FLAGS.Vol0_optimizations) }}</td>
					</tr>
					<tr>
						<td class="label">Force Amiga Limits</td>
						<td class="value">{{ flag(s3m.header.flags & FLAGS.Amiga_limits) }}</td>
					</tr>
					<tr>
						<td class="label">Fast volumeslides</td>
						<td class="value">{{ flag(s3m.header.flags & FLAGS.ST300_volume_slides) }}</td>
					</tr>
					<tr>
						<td class="label">MOD edit mode</td>
						<td class="value">{{ flag(s3m.header.flags & FLAGS.MOD_edit_mode) }}</td>
					</tr>
					<tr>
						<td class="label">UltraClick-removal</td>
						<td class="value">{{ s3m.header.ultraClickRemoval / 2 }}</td>
					</tr>
					<tr>
						<td class="label">Enable Stereo</td>
						<td class="value">{{ flag(s3m.header.stereo) }}</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<fieldset id="patterns" v-if="currentView === 2">
			<legend>Pattern Editor (Alt-2)</legend>
			<table>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th v-for="c in 32">{{ zeroPad(c, 2) }}:{{ displayChannel(c) }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="r in 64">
						<td class="label">{{ zeroPad(r - 1, 2) }}</td>
						<td class="value" v-for="c in 32">
							{{ displayNote(currentPattern, r, c) }}
							{{ displayInstrument(currentPattern, r, c) }}
							{{ displayVolume(currentPattern, r, c) }}
							{{ displayCommand(currentPattern, r, c) }}
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<fieldset id="instruments" v-if="currentView === 3">
			<legend>Instrument List (Alt-3)</legend>
			<table>
				<tr v-for="(instrument, index) in s3m.instruments">
					<td class="label">{{ zeroPad(index + 1, 2) }}</td>
					<td class="value">{{ instrument.title }}</td>
					<td class="value">{{ displayType(instrument.type) }}</td>
					<td class="value">{{ zeroPad(instrument.c2spd, 5) }}</td>
					<td class="value">{{ zeroPad(instrument.volume, 2) }}</td>
					<td class="value"><button @click.prevent="play(instrument, $event)" @keydown="play(instrument, $event)" :disabled="!instrument.play">TM</button></td>
					<td class="value">T</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>