$c-background: #a69255;
$c-label: #514528;
$c-value: #9a9692;
$c-highlight: #ffdf86;
$c-highlight-value: #00b200;

body {
	background-color: $c-background;
	/*font-family: 'Press Start 2P', cursive;*/
	font-family: monospace;
	font-size: 12pt;
}

#view {
	display: none;
}

header .value {
	color: $c-highlight-value;
}

.label {
	text-align: right;
	color: $c-label;
}

.value {
	background-color: #000;
	color: $c-value;
}

h1 {
	font-size: 12pt;
	font-weight: normal;
	color: $c-highlight;
}

fieldset {
	width: 800px;
	overflow-x: auto;
}

table {
	border: none;
	border-collapse: collapse;

	td {
		&:first-child {
			border-left: none;
		}

		border-left: 3px solid $c-background;
	}
}

button {
	&:focus {
		background-color: $c-highlight;
	}
}

#orderListAndVariables {
	table {
		float: left;
	}
}

#patterns {
	table {
		table-layout: fixed;
		width: 100%;
	}

	th {
		&:first-child {
			width: 25px;
		}
		width: 130px;
	}
}