body {
	background-color: #a69255;
	font-family: 'Press Start 2P', cursive;
	font-size: 12pt;
	color: #514528;
}

#view {
	display: none;
}

h1 {
	font-size: 12pt;
	font-weight: normal;
	color: #ffdf86
}

.label {
	text-align: right;
}

.value {
	background-color: #000;
	color: #9a9692;
}

header .value {
	color: #00b200;
}

fieldset table {
	float: left;
}